:root {
  --color-lightest: rgb(218, 255, 233);
  --color-light: rgb(194, 255, 194);
  --color-medium: rgb(132, 255, 132);
  --color-dark: rgb(98, 207, 98);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  min-height: fit-content;
  background-color: lightblue;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.friends-list {
  background-color: lightcoral;
  height: 20rem;
  width: 25rem;
  margin-bottom: 1rem;
}

.form-add-friend {
  background-color: lightgreen;
  height: 12rem;
}

.form-split-bill {
  background-color: lightgoldenrodyellow;
  height: 25rem;
  width: 20rem;
}
